* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}


/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.content {
  text-align: center;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: #FFF;
	margin: 0;
  font-size: 1.2rem;
}

.line1{
  font-size: 1.5rem;
}

.line2{
	font-size: 1.3rem;
}

.lastline{
  font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

.slidecontainer {
width: 40%;
margin: 15px auto;
}

.slider {
-webkit-appearance: none;
appearance: none;
width: 100%;
height:15px;
border-radius: 35px;
background: #FFF;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 50;

}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 19px;
height: 19px;
border-radius: 50%;
background: #2F80ED;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 19px;
height: 19px;
border-radius: 50%;
background: #2F80ED;
cursor:pointer;
}

p {
  text-align: center;
  color:#FFF;
}

a{
	text-decoration: none;
}

/*---------------------------------------------*/
button {
	left:210%;
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #FFF;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	  background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover {
    border-color: transparent; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    button:hover i {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.wrap-login100 {
  width: 850px;
  background: none;
  border-radius: 10px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: #FFF;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
	}
}
